<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo_67/blob/main/Semana3/Semana_3_Activity_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# ACTIVIDAD 1 SEMANA 3

##Ciencia y analítica de datos

###Profesor: 
Jobish Vallikavungal Devassia

### Participantes:
A01793810 - Jerson David Pérez Contreras
###Fecha:
4 de octubre del 2022

### **Parte 1: Fundamentos de bases de datos**
### **Fundamentos de bases de datos y para ciencia de datos.**

La bases de datos es un software que permite almacenar información de diferentes temas que son de interés para las personas o empresas, y esta es utilizada como ciencia de datos al buscar analizar y comprender el comportamiento de los datos para las tomas de decisiones dentro de la compañías.



### **Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

La Data warehouse es una forma de almacenar varias bases de datos o tablas de una manera mas ordenada, buscando de esta base central una mejor compresion al relacionar diferentes fuentes de informacion

### **Parte 2: Selección y limpieza de los Datos en Python**

### Cargue de la informacion:

Fuente: https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv

### Informacion de la Data:
Esta investigación apuntó al caso de los pagos predeterminados de los clientes en Taiwán y compara la precisión predictiva de la probabilidad de incumplimiento entre seis métodos de minería de datos. Desde la perspectiva de la gestión de riesgos, el resultado de la precisión predictiva de la probabilidad de incumplimiento estimada será más valioso que el resultado binario de la clasificación: clientes creíbles o no creíbles. Debido a que se desconoce la probabilidad real de incumplimiento, este estudio presentó el novedoso "Método de suavizado de clasificación" para estimar la probabilidad real de incumplimiento. Con la probabilidad real de incumplimiento como variable de respuesta (Y) y la probabilidad predictiva de incumplimiento como variable independiente (X), el resultado de la regresión lineal simple (Y = A + BX) muestra que el modelo de pronóstico producido por la red neuronal artificial tiene el coeficiente de determinación más alto; su intersección de regresión (A) es cercana a cero y el coeficiente de regresión (B) a uno. Por lo tanto, entre las seis técnicas de minería de datos, la red neuronal artificial es la única que puede estimar con precisión la probabilidad real de incumplimiento.

### Read Data desde la fuente

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')
df.describe() ## descripcion contenido de la tabla

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [6]:
df.isnull().values.any()  ## Verificar valores vacios, la cual nos indica que si los hay

True

In [7]:
df.isnull().any()  ## Verificas los valores vacios en cada celda

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [8]:
df.isna().values.any() ## Verifica si esxiten valores como NA

True

In [9]:
df.isna().any() ## Se verifica si existe valores NA en cada columna

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [17]:
print(df.shape) ## Tamaño de la data

df_mod = df.copy()

df_mod.dropna(inplace = True)

print(df_mod.shape) ## Tamaño de la data una vez eliminado las observaciones NA

(30000, 25)
(29958, 25)
<built-in method count of tuple object at 0x7fce081dfeb0>

In [20]:
((30000-29958)/30000)*100 ## El porcentaje de observaciones elimandas es muy bajo, por tal motivo se aplica es metodologia, al no ser una muestra siginificativa

0.13999999999999999

In [22]:
print(df_mod.isna().values.any() )
print(df_mod.isnull().values.any()) ## la base ya no tiene valores nulos o vacios

False
False

In [23]:
df_mod.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [24]:
df_mod.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,15005.550504,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,8654.547473,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7516.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,15005.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22497.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

### **Parte 3: Preparación de los datos**

###¿Qué datos considero mas importantes? ¿Por qué?

Todas las variables son importantes, ya que estos me permiten definir un modelo que me pueda explicar el comportamiento de Y. en las bases nos encontramos con variables tanto cualitativas como cuantitativas, pero cada una de estas puede ser determinante para predecir el resultado esperado

###¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

Al observar el tamaño de la base y las observaciones donde presentaban valores vacíos o nulos, estas representan el 0,14% de los datos, por esta razón se escogió la opción de eliminar las observaciones nulas, al no ser una población representativa.
###¿Es necesario limpiar los datos para el análisis? Sí / No / ¿Por qué?
Si es importante, los datos nulos nos pueden generar problemas o errores dentro de los modelos que se plateen, además muchos de esto datos se pueden tomar como una observación de más que pueden cambiar paramentos como la media, muchas veces los datos cuantitativos nulos se toman como 0, pudiendo representado valores outliers, haciendo que nuestro modelos se desvíen su objetivo


###¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

SSi,  es muy importante identificar que variables son de tipo cuantifica, para transformar estas datos a numérico que se adapte a su estructura, Por otro lado los datos cualitativos es importante revisar si estos perteneces a la familia de booleanos, o se deben transformar como factores o categorías para tener una mejor estructura en sus datos.

###¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?


al ser una base donde ya viene una estructura bien definida, se tiene claridad de los datos que se tienen, no se realizó ningún ajuste adicional, solo la limpieza básica de las observaciones nulas o vacías, eliminando estas observas al representar solo el 0,14% de los datos